/* .row.display-flex { to get same height
  display: flex;
  flex-wrap: wrap;
}

.thumbnail {
  height: 100%;
}
 */
.thumbnail img {
    max-height: 300px;
}

.thumbnail .description {
    color: #7f7f7f;
}

.price {
    font-weight: bold;
    font-size: 20px;
}
